<ion-tabs>
  <ion-tab-bar slot="bottom" class="mouj-tab-bar">
    
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scan" href="/tabs/scan">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
